_book
*.pyc
.*.sw*
byte_of_python.html
byte_of_python.xml
byte_of_python.pdf
byte_of_python.epub
byte_of_python.mobi
node_modules
byte-of-python.epub
byte-of-python.pdf
package-lock.json
package.json
public
venv
.vscode
